body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/*Container
===========*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header
===========*/

.header {
    width: 100%;

    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    position: fixed;
    background-color: #31344e;
    height: auto;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;

    align-items: center;

}

/*Nav
===========*/

.nav {
    font-size: 13px;
    font-weight: 700;
    display: flex;
}

.nav__link {
    opacity: 0.75;
    color: #ffffff;
    font-family: Raleway;

    text-transform: uppercase;
    text-decoration: none;

    transition: opacity .2s linear;

    margin-left: 50px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    text-decoration: underline;
    opacity: 1;
}

.burger {
    padding: 15px 0;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger:focus {
    outline: none;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;

}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    top: 8px;
}

/*Intro
===========*/

.intro {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;

    background: #31344e url('img/header/header-bcg.jpg') center no-repeat;
    padding-top: 100px;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;


}

.intro__subtitle {
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 60px;
}


/*Button
===========*/

.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Raleway - Semi Bold";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    padding: 14px 40px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    border: 0;
    transition: background .2s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn__long {
    min-width: 280px;
}

.btn--red:hover {
    background-color: #dd3434;
}

.features {
    display: flex;
    flex-wrap: wrap;

    margin: 100px 0;
}

.features__item {
    width: 33.3333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features__title {
    color: #2d3033;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.features__text {
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.features__icon {
    margin-bottom: 20px;
}

/*Works
===========*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;

    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
    min-width: 100%;
}

.works__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;

    background-color: rgba(232, 69, 69, .9);
    transition: opacity .2s linear;
}

.works__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.works__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

.team {
    margin: 100px 0 70px;
}

.team__personal {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__personal__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;


}

.team__personal__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.team__personal__name {
    color: #2d3033;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.team__personal__profession {
    color: #e84545;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__personal__text {
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
}

.fab {
    border: 1px solid #e8ecee;
    background-color: #ffffff;
    padding: 9px;
    cursor: pointer;
    transition: color .2s linear;
    transition: border .2s linear;
}

.fab--footer {
    background-color: #3a3e64;
    color: #ffffff;
}

.fab:hover {
    color: black;
    border: 1px solid black;
}


.reviews {
    background-color: #53354a;
    overflow: hidden;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;

}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;

}

.reviews__content {
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.reviews__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}

.reviews__text {
    color: #ffffff;
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
}

.reviews__author {
    color: #ffffff;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}


.download {
    margin: 90px 0;

    text-align: center;


}

.download__title {
    color: #2d3033;
    margin-bottom: 10px;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
}

.download__text {
    color: #2d3033;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer {
    background-color: #3a3e64;
    height: auto;

}

.colums {
    display: flex;
    flex-wrap: wrap;
}

.colums__info__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.colums__info__text {
    opacity: 0.5;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    padding: 0 20px;
}

.col {
    width: 33%;
    text-align: center;
    margin-top: 70px;

}

.copyright {
    background-color: #313454;
}

.copyright__inner {
    /* Style for "Copyright" */
    text-align: center;
    color: #808080;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    /* Text style for "Copyright" */
    font-family: Raleway;
    padding: 30px 0;


}

.copyright__inner span {
    color: red;
}

.burger {
    display: none;
}


@media(max-width:1300px) {
    .works__item {
        width: 50%;
    }
}

@media(max-width:991px) {
    .intro__title {
        font-size: 40px;
    }

    .nav {
        flex-direction: column;
        display: none;
        position: absolute;
        right: 0;
        top: 100%;

        width: 100%;
        text-align: right;
        background-color: #31344e;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
        ;
    }

    .burger {
        display: block;
    }

    .features__item {
        width: 50%;

    }

    .team__personal__item {
        width: 50%;
        text-align: center;
    }

    .team__personal__img {
        margin-left: auto;
        margin-right: auto;
    }

    .reviews__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;


    }

    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }




}

@media(max-width:767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;


    }

    .intro__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .works__item {
        width: 100%;
        height: 300px;
    }

    .team__personal__item {
        width: 100%;
    }

    .team {
        margin: 60px 0 30px;
    }

    .reviews__text {
        font-size: 25px;
    }

    .btn__long {
        min-width: 260px;

    }

    .download {
        margin: 50px 0;
    }

    .download__title {
        font-size: 24px;
    }

    .col {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

}

@media(max-width:414px) {
    .reviews__img {
        right: -100px;
    }
}